/* @import url("https://fonts.googleapis.com/css2?family=Syne&family=Viaoda+Libre&display=swap"); */

.footer {
  background-color: #222;
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.footer article {
  width: 95%;
  padding: 10px;

  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

article .div1 {
  height: 100%;
  width: 23%;

  padding: 15px;
}
.div1 a {
  display: flex;
  column-gap: 10px;
  text-decoration: none;
  align-items: center;
  color: #eee;
  font-size: 2rem;
  text-transform: capitalize;
  font-family: "Viaoda Libre", cursive;
}
.div1 a img {
  width: 40%;
  height: 50%;
}

.div3 {
  height: 100%;
  width: 23%;

  padding: 15px;
}
.div4 {
  height: 100%;
  width: 23%;

  padding: 15px;
}

.iconsdiv {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  color: #fff;
}

.div2 {
  height: 100%;
  width: 23%;

  padding: 15px;
}

.div2 form {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

form input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  margin-top: 25px;
  background-color: #393b3b;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #393b3b;
  border: none;
}

.btn {
  padding: 10px;
  width: 100px;
  background-color: #43d5cb;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

img[alt="footer"] {
  height: 90px;
  width: 90px;
}

img[alt="div1top"] {
  height: 30px;
  width: auto;
  margin-bottom: 25px;
}
