@import url("https://fonts.googleapis.com/css2?family=Syne&family=Viaoda+Libre&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Syne", sans-serif;
  background-color: #f3f3f3;
  color: #111;
  scroll-behavior: smooth;
}
.navbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* border-bottom: 0.5px solid #ddd; */
  position: fixed;
  z-index: 9;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.376);
}
.navbar article {
  width: 85%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoBlock {
  flex-basis: 30%;
  display: flex;
  align-items: center;
}
.logoBlock a {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #145858;
  font-size: 1.5rem;
  font-family: "Viaoda Libre", cursive;
}
.menuBlock {
  flex-basis: 60%;
  display: flex;
  justify-content: space-around;
}
.menuBlock a {
  text-decoration: none;
  text-transform: capitalize;
  color: #145858;
  font-size: 1rem;
  padding: 5px;
  font-weight: 600;
}
.menuBlock a .linkIcon {
  font-size: 1.3rem;
}
.menuBlock button {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  background: transparent;
}
.carouselContainer {
  width: 100%;
  height: 90vh;
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
}
.carouselContainer img {
  width: 100%;
  height: 90vh;
  object-position: center;
  object-fit: cover;
}
.carouselContainer p {
  position: absolute;
  z-index: 99;
}
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.carousel button {
  width: 40px;
  /* height: 40px; */
  border-radius: 100%;
  background-color: #111;
}
.smallDetails {
  display: flex;
  height: 15vh;
  padding: 20px;
  flex: auto auto auto;
}
.smallDetails div {
  display: flex;
  height: 10vh;
  align-items: center;
  padding: 20px;
}
.smallDetails div:hover img {
  transform: translateY(-20px);
}
.smallDetails div:not(.noBorder) {
  border-right: 1px solid #999;
}
.smallDetails div img {
  width: 30%;
  height: 100%;
  margin: 10px;
  transition: all 0.3s linear;
}
.smallDetails div p {
  text-align: justify;
}
.laboratory {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}
.laboratory article {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}

.laboratory article h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.laboratory article h6 {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  padding: 0 100px;
}
.labContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.labContainer .vidContainer {
  width: 50%;
  height: 400px;
  background-image: url("https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h9-img-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.labContainer .vidContainer button {
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 100%;
  font-size: 2.5rem;
  padding: 8px 0 0 5px;
  /* background-color: #5773cdf0; */
  /* color: #ddd; */
  background-color: rgba(255, 255, 255, 0.583);
  backdrop-filter: blur(2px);
  cursor: pointer;
}
.labContainer .labDetails {
  width: 48%;
  height: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  text-align: justify;
}
.labDetails button {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 10px;
  text-transform: capitalize;
  cursor: pointer;
  background-color: #43d5cb;
  border: none;
  font-size: 1rem;
  color: rgba(238, 238, 238, 0.831);
  border-radius: 5px;
}

.labDetails button:hover {
  background-color: #43d5cba6;
}
.splitDiv {
  width: 100%;
  height: 50vh;
  display: flex;
}
.splitDiv div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  row-gap: 20px;
  text-align: center;
}

.splitDiv div button {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  text-transform: capitalize;
  cursor: pointer;

  border: none;
  font-size: 1rem;

  border-radius: 5px;
}
.bgCyan {
  background-image: url("https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h9-img-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bgBlue {
  background-image: url("https://mediclinic.qodeinteractive.com/wp-content/uploads/2017/04/h9-img-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.serviceContainer {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.serviceContainer article {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: transparent;
}
.serviceContainer article h1 {
  font-size: 3rem;
  text-transform: capitalize;
}
.serviceContainer article p {
  width: 60%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
}
.serviceTypeContainer {
  display: flex;
  width: 100%;
  height: 40%;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  background-color: transparent;
  /* backdrop-filter: blur(5px); */
}
.serviceTypeContainer div {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 40px;
  border-radius: 10%;
  transition: all 0.3s linear;
}
.serviceTypeContainer div img {
  width: 50%;
}
.serviceTypeContainer div:hover {
  border-bottom: 5px solid #607BD1;

  transform: translateX(0);
}
.parallaxContent {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.695));
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.parallaxContent article {
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.332);
  backdrop-filter: blur(2px);
}
.cardBody {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  row-gap: 20px;
}
.cardBody h1 {
  text-transform: capitalize;
  color: rgba(238, 238, 238, 0.73);
  padding: 0 20px;
}
.cardBody p {
  text-align: justify;
  color: #ddd;
  padding: 0 20px;
}
.cardBody img {
  width: 100%;
  object-fit: cover;
}
.cardFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.cardFooter .btn a {
  text-decoration: none;
  color: #06d1d1af;
  font-weight: bold;
}
.cardFooter .socialIcons {
  width: 30%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #efefef;
}
